@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


/* global variables, so I can modify colour easily in future) */
:root {
    --colorPop: coral;
    --colorHover: #343cac;
    --colorActive: #2e2d2c;
    --colourBackG1: #1c1d25;
    --colorFont: #fff;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    padding: 0 80px;
    margin: auto;
}

/* Navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 15;
}

.navbar.sticky{
    padding: 15px 0;
    background: var(--colorPop);
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: var(--colorFont);
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: var(--colorPop);
}

.navbar.sticky .logo a span{
    color: var(--colourBackG1);
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: var(--colorFont);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: var(--colorPop);
}

.navbar.sticky .menu li a:hover{
    color: var(--colourBackG1);
}


/* Main Menu styling */
.menu-btn {
    color: var(--colorFont);
    font-size: 23px;
    cursor: pointer;
    display: none;
    z-index: 15;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    font-size: 50px;
    color: var(--colorPop);
    right: 25px;
    bottom: 45px;
    z-index: 25;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    pointer-events: auto;
    opacity: 100;
}

/* Home Area styling */
.home {
    display: flex;
    height:max-content;
    background: var(--colourBackG1);
    color: var(--colorFont);
    min-height: 1000px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

/* Linkered area styling */
.Linkered .max-width {
    padding: 0 80px;
    margin: 40px;
}

.Linkered {
    font-family: 'Ubuntu', sans-serif;
    background: var(--colourBackG1);
    color: var(--colorFont);
    display: flex;
}

.Linkered .title {
    margin-bottom: 40px;
}

.Linkered .Linkered-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.Linkered .Linkered-content .card {
    width: calc(33% - 20px);
    min-height:fit-content;
    background: var(--colorActive);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    transition: all 0.3s ease;
}

.Linkered .Linkered-content .card:hover {
    background: var(--colourBackG1);
    border: 2px solid var(--colorPop);
}

.Linkered .Linkered-content .card .box {
    transition: all 0.3s ease;
}

.Linkered .Linkered-content .card:hover .box {
    transition: scale(1.05);
}

.Linkered .Linkered-content .card p {
    text-align: left;
}

.Linkered .Linkered-content .card i {
    font-size: 50px;
    color: var(--colorPop);
}

.Linkered .Linkered-content p {
    font-size: 20px;
    font-weight: 200;
    margin-left: -3px;
}

.Linkered .Linkered-content p span {
    color: var(--colorPop);
    font-weight: 500;
}

.Linkered .Linkered-content li {
    text-align: left;
    font-size: 20px;
    font-weight: 200;
}

.Linkered .Linkered-content li span {
    color: var(--colorPop);
    font-weight: 500;
}

.Linkered .Linkered-content .text-2 {
    font-size: 30px;
    margin: 5px 0;
    padding-bottom: 10px;
    text-align: left;
}

.Linkered .Linkered-content .text-2 span {
    color: var(--colorPop);
    font-weight: 500;
}



/* FOOTER */

footer{
    background: var(--colourBackG1);
    padding-top: 5px;
    padding-bottom: 10px;
    color: var(--colorFont);
    text-align: center;
}

footer p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

footer p span {
    color: var(--colorPop);
    font-weight: 500;
}

/* media */

@media (max-width: 2000px) {
    .max-width {
        padding: 0 30px;
    }

    .Linkered .Linkered-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

}

@media (max-width: 651px) {
    .max-width {
        padding: 0 30px;
    }

    .home .max-width {
        margin-left: 0px;
    }
    
    .Linkered .max-width {
        padding: 0 30px;
        margin-left: 0px;
    }
}


@media (max-width: 650px) {
    .max-width {
        padding: 0 30px;
    }

    .home {
        min-height: 1200px;
    }

    .Linkered .Linkered-content .card {
        width: calc(100%);
        margin-bottom: 20px;
    }

}


